.App{
  position: absolute;
  top:0;
  overflow: auto;
  min-height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.App h1{
  font-size: 65px;
  font-weight: 400;
  text-transform: uppercase;
}

.main-body{
  /* background-color: red; */
  height: calc(100vh - 55px);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between  ;
}

.left{
  width: 20%;
  padding: 10px;
  height: 100%;
  background-image: linear-gradient(to bottom, #0D47A1, #1565C0);
  overflow-y: auto;
}

.right{
  width: 80%;
  height: 100%;
  padding: 25px 50px;
  overflow-x: hidden;
  overflow-y: auto;
}
